{% extends 'Lecturer/homepage.html' %}
{% block title %}
All Result Page
{% endblock %}
{% block content %}
<div class="fullContentDiv">
    <p id="headerText"><small>Dashboard / All Accepted Result(s)</small></p>
    <table class="table" cellspacing="0">
        <tr>
            <td>Course Code</td>
            <td>Class</td>
            <td>Session</td>
            <td>Semester</td>
            <td>View</td>
        </tr>
        {% for rows in AllResults %}
        <tr>
            <td>{{ rows.CourseCode }}</td>
            <td>{{ rows.Class }}</td>
            <td>{{ rows.Session }}</td>
            <td>{{ rows.Semester }}</td>
            <td><a href="{% url 'LecturerEditPage' rows.id %}">View</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}